//data for user profiles
- var users = [{'id': 1, 'name': 'Alex Michman', 'job': 'Angular Developer', 'img':'Superman-Man.png', 'moto':'We can change the world!'}, {'id': 2, 'name': 'Anna May', 'job': 'Web designer', 'img':'marvel.jpg', 'moto': 'Let`s do something great!'}, {'id': 3, 'name': 'Piter Parker', 'job': 'Python Developer', 'img':'parker.jpg', 'moto':'With great power comes great responsibility'}]

//
