- let menu_item = {'team':'Our team', 'progress':'Our progress', 'join':'Join us'};

header.row
    div.column-1
        img(src='img/icon.png')
    div.column-4.row-colunm
        h1 Hero Programming group
        h2 We save the world from bad programs
    nav.column-7
        ul
            li
                span.menu-icon
                    i(class="fas fa-bars")
            each value, key in menu_item
                li
                    a(href='#'+key) #{value}




